.icon-cross
{
background:url('css-sprite-combined.png') 0px -1152px;
width:48px;height:48px;
display:inline-block;
}

.icon-menu
{
background:url('css-sprite-combined.png') -48px -1140px;
width:60px;height:60px;
display:inline-block;
}

.icon-tiktok
{
background:url('css-sprite-combined.png') -108px -1150px;
width:50px;height:50px;
display:inline-block;
}

.icon-facebook
{
background:url('css-sprite-combined.png') -158px -1150px;
width:50px;height:50px;
display:inline-block;
}

.icon-twitter
{
background:url('css-sprite-combined.png') -208px -1136px;
width:64px;height:64px;
display:inline-block;
}

.icon-ig
{
background:url('css-sprite-combined.png') -272px -1136px;
width:64px;height:64px;
display:inline-block;
}

.icon-logo
{
background:url('css-sprite-combined.png') -336px -0px;
width:1200px;height:1200px;
display:inline-block;
}

