html{
    font-size: 62.5%;
}

body{
    max-width: 100vw;
}

/*Basic*/
:root{
    --color-primary:black;
    --color-secondary:white;
    --color-accent:grey;
}

body{
    line-height: 1.5rem;
    background: var(--color-secondary);
    color: var(--color-primary);
    font-weight: normal;
   }

/*Typography*/
h1,h2,h3{
    text-transform: uppercase;
    font-weight: normal;
}

h1,h2{
    color: var(--color-secondary);
}

.h1{
    font-size: 2rem;
    margin-bottom: 4rem;
}

h2{
    font-size: 4rem;
}

h3{
    text-align: center;
    font-size:4rem;
    padding-bottom: 0;
}

h4{
    font-size:4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin: 3rem 0 4rem 0;
}

p{
    font-size: 1.5rem;
    color: var(--color-accent);
}

.quote__text, .quote__text2{
    font-size: 2rem;
}
/*quote*/
.quote{
    font-size: 2rem;
    color: #124559;
    line-height: 1.2;
    margin-top: 4;
}

.quote__text::before{
    content: open-quote;
}

.quote__text2::after{
    content:close-quote;
}

@media screen and (min-width:1024px){
    .quote{
        font-size: 2.5rem;
    }
}

/*icon*/

.logo{
    text-align: center;
    margin: 2rem;
}
.icon{
    width:40px;
    height: 40px;
    margin:0 1rem;
}

.icon__size{
    width: 34px;
    margin-left:0.3rem;
    margin:0 1rem;
height: 40px;
}

/*button*/
.button__center{
    position: relative;
    height: 150px;
}

.vertical__center{
    margin: 0;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.btn{
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 7rem;
    border: 1px solid var(--color-primary);
    color: var(--color-accent);
    white-space: nowrap;
    margin: 1rem;
    text-decoration: none;
}

.btn:hover{
    background: #e9ecef;
    color: var(--color-primary);
    transition: background 0.5s;
}

/*grid*/
.grid{
    display: grid;}
    
.grid--1x3{
        grid-template-columns: repeat(3,1fr);
         }

@media screen and (min-width:768px){
.grid--1x2{
    grid-template-columns: repeat(2,1fr);
    padding: 1rem 3rem;
    gap: 1rem;
   }

}

@media screen and (min-width:1024px){

    .grid--1x4{
        grid-template-columns: repeat(4,1fr);
        padding: 1rem;
        gap: 1rem;
        margin-top: 2rem;
    }
}

/*partner*/
.partner{
    padding:3rem 3rem 0 3rem;
}

.partner__image{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 30% 50%;
    border-radius: 10px;
}

@media screen and (min-width:768px){
.partner__image{
    height:600px;
    object-position: 30% 30%;}

.quote{
    margin-top: 9rem;
}
}
/*collapsible*/
.collapsible__menu{
    transform: rotate(0);
    
}

.collapsible__content{
    max-height: 0;
    overflow: 0;
    opacity: 0;
    transition: all 0.3s;}

.collapsible--expanded .collapsible__menu{
transform: rotate(-90deg);
transition: tranform 0.3s;
}

.collapsible--expanded .collapsible__content{
 max-height: 100vh;
 opacity: 1;

}
/*navigation bar*/
.nav{
    background: var(--color-secondary);
    justify-content: space-between;
    display: flex;
    flex-wrap:wrap;
    padding: 0 1rem;
    align-items: center;

}
.nav__list{
    width: 100%;
    text-align: center;
    margin: 0;
    list-style: none;
}

.nav__item{
    color: var(--color-primary);
    font-size: 3rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.nav__item > a{
color: var(--color-primary);
transition: color 0.3s;
text-decoration: none;
}

.nav__item > a:hover{
    color: var(--color-accent);

}
.nav__image{
    width: 80px;
    border-radius: 5px;
}

/*header*/
.header__image , .text__image {
    width: 100%;
    filter: grayscale(80%);
}

.header__image:hover, .text__image:hover{
    filter: grayscale(0);
    cursor: pointer;
    transition: filter 0.3s;
}

.container{
    max-width: 100vw;
    height: 300px;
}

.blur{
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.center h1{
    position:absolute;
    top: 25%;
text-transform: uppercase;
transition: 0.3s;
width: 100%;
z-index: 1;
margin-left: 2rem;

}
.center h2{
    position: absolute;
    top: 30%;
transition: 0.3s;
margin-left: -0.7rem;
width: 50%;
z-index: 1;
}

@media screen and (min-width:570px) and (max-width:768px){
    .center h1{
        top:18%;
        margin-left:3rem;
       }
       
       .center h2{
       top:25%;
       margin-left:-1rem;
       }

       .container{
        height: 450px;
       }
}

@media screen and (min-width:769px) and (max-width:1023px){
    .container{
        height:600px;
    }
}
@media screen and (min-width:1024px){
.center h1{
 top:32%;
 margin-left:6rem;
}

.center h2{
top:45%;
margin-left:-1rem;
}

.container{
    height: 800px;
}
}

/*form*/
.form{
    font-size: 2rem;
    overflow: hidden;
    text-align: left;

}

.form__class{
    line-height: 2;
}

.input{
    border: 0;
    border-bottom:1px solid var(--color-primary) ;
    margin: 1rem 0;
    padding: 1rem 0 1rem 0.5rem;
    width: 100%;
}

.input[type="text"][type="email"]{
    border-radius: 5px;
    box-sizing: border-box;

}

.input[type="text"]:focus[type="email"]:focus{
    border-color: antiquewhite;
    outline: 0;
}

.button{
    background: var(--color-secondary);
    border-radius: 50px;
    color: black;
    border: 1px solid var(--color-primary);
    margin-bottom: 2rem;
    margin-top: 1rem;
    outline: 0;
    padding: 2rem 3rem;
    text-transform: uppercase;
    width: 100%;
    cursor:pointer;
}

/*footer*/

.footer{
    margin-top:8rem;
    margin-bottom: 4rem;
}
@media screen and (min-width:768px){
    .footer{
padding: 1rem 8rem 1rem 8rem;
    }

    .contact h3{
        text-align: left;
    }

    .logo{
        text-align: left;
        margin: 2rem 0 2rem 0;
    }

    .icon{
    margin-left: 0;
    }

    .icon__size{
        margin-left:0.2rem;    }
}