html{
    font-size: 62.5%;
}

/*Basic*/
:root{
    --color-primary:black;
    --color-secondary:white;
    --color-accent:grey;
}

body{
    line-height: 1.5rem;
    color: var(--color-secondary);
    font-weight: normal;
   }

/*Typography*/
h1,h2,h3{
    text-transform: uppercase;
    font-weight: normal;
}

h1{
    color: var(--color-secondary);
}

h2, h3 {
    color: var(--color-primary);
}

.h1{
    font-size: 2rem;
    margin-bottom: 4rem;
}

h2,h3{
    font-size: 4rem;
}

h2{
    text-align: center;
}

/*quote*/
.quote{
    font-size: 2rem;
    color: #124559;
    line-height: 1.2;
    margin-top: 4;
}

.quote__text::before{
    content: open-quote;
}

.quote__text::after{
    content:close-quote;
}

@media screen and (min-width:1024px){
    .quote{
        font-size: 2.5rem;
    }
}

/*icon*/
.icon{
    width: 40px;
    height: 40px;
}

/*button*/
.btn{
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 2rem 7rem;
    border: 1px solid var(--color-primary);
    color: var(--color-accent);
    white-space: nowrap;
    margin: 1rem;
    text-decoration: none;
    
}

.btn:hover{
    background: #e9ecef;
    color: var(--color-primary);
    transition: background 0.5s;
}

/*grid*/
.grid{
    display: grid;}

@media screen and (min-width:768px){
.grid--1x2{
    grid-template-columns: repeat(2,1fr);
    padding: 1rem 3rem;
    gap: 1rem;
   }
}

@media screen and (min-width:1024px){
    .grid--1x3{
        grid-template-columns: repeat(3,1fr);
    }

    .grid--1x4{
        grid-template-columns: repeat(4,1fr);
        padding: 1rem;
        gap: 1rem;
        margin-top: 2rem;
    }
}

/*partner*/
.partner{
    padding:3rem;
}

.partner__image{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 30% 50%;
    border-radius: 10px;
}

@media screen and (min-width:768px){
.partner__image{
    height:600px;
    object-position: 30% 30%;}

.quote{
    margin-top: 9rem;
}
}

