<blockquote class="quote">
    <p class="quote__text">
      The MODELINZ has establised itself as one of the country's leading
      modeling agencies,representing and managing models, helping them to
      secure work and ensuring that they are properly compensated for their
      services. 
      
      <p>MODELINZ is a leading model agency in New Zealand, known for
      it is professionalism, commmitment to diversity and inclusivity and
      dedication to supporting it is models as they build successful careers
      in the industry.
  </p>
    </p>
  </blockquote>